/* for navbar component */

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 0 8rem;
  background-color: rgb(255, 177, 82);
  color: white;
  font-size: 3rem;
}

.navbar a {
  color: white;
  margin: 10px 30px;
  padding: 5px 10px;
}
.navbar a:hover {
  background-color: rgb(252, 155, 36);
}

.navbar a:first-child {
  margin-right: auto;
}
/* .link {
  color: rgb(111, 0, 255);
} */
